{% extends 'base.html' %}
{% block content %}
<p class="display-4">Aprofunde em<br>seus conhecimentos</p>
<p class="h3 font-weight-light">Você vai aprender na prática como funciona<br>Flutter, Django e Django-Rest-Framework</p>

<div class="pt-5"></div>

<div class="d-flex justify-content-between">
    <div class="col text-center">
        <img class="img-fluid" width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Google-flutter-logo.png/799px-Google-flutter-logo.png" alt="Flutter - Emanuel Severino">

    </div>
    <div class="col text-center">
         <img class="img-fluid" width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/2560px-Django_logo.svg.png" alt="Django - Emanuel Severino">
        </div>
    <div class="col text-center">
        <img class="img-fluid" width="200" src="https://www.django-rest-framework.org/img/logo.png" alt="Django Rest Framework - Emanuel Severino">
    </div>
</div>


{% endblock %}